<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pdf.reader" xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 不再需要任何 Wi‑Fi/定位权限。使用系统文档选择器与系统打印服务。 -->

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.PdfReader">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
